################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RPG Temp Name/v15
/RPG Temp Name/Debug/RPG Temp Name.tlog
